<section id="detailSection" class="detail-section">
    <div id="detail" class="detail-content"></div>
    <div class="comments-list">
      <h2>Comments</h2>
      <div id="commentList">
      </div>
    </div>
    <form id="comment-form" class="comment-form" novalidate>
      <div class="comment-input">
        <label for="comment">Comment of this beer</label>
        <input id="comment" placeholder="Add your comment" class="input primary" type="text">
      </div>
      <button type="submit" class="button primary">Send</button>
    </form>
  </section>