<header class="beer">
    <picture>
            <source srcset="./../images/beer-900px.jpg, ./../images/beer-1500px.jpg" media="(min-width: 1024px)">
                <source srcset="./../images/beer-900px.jpg" media="(min-width: 992px)">
                <source srcset="./../images/beer-900px.jpg" media="(min-width: 768px)">
                <source srcset="./../images/beer-375px.jpg, ./../images/beer-900px.jpg" media="(min-width: 500px)">
                <img class="image img-responsive" src="./../images/beer-375px.jpg">
    </picture>

</header>