$primary-color-dark:   #101417;
$primary-color:        #14181c;
$primary-color-light:  #4e5162;
$primary-color-text:   #9898ab;
$accent-color:         #ceb46a;
$accent-color-dark:#9a8545;
$primary-text-color:   #212121;
$secondary-text-color: #fff;
$divider-color:        #BDBDBD;

$primary-font-size: 1rem;
$icons: $primary-font-size + .5rem;
$header-h2: $primary-font-size + .2rem;
$logo-font: $primary-font-size + 2rem;

$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width:1024px;

